{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="content-section">
        <form action="" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Новый пост</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Опубликовать</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">У вас есть аккаунт<a href="{% url 'blog-home' %}">Вернуться</a></small>
        </div>
    </div>
{% endblock content %}