{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="content-section">
        <form action="" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend claass="border-bottom mb-4">Удалить пост</legend>
            <h4>Привет ты хочешь удалить этот пост <b>" {{ object.title }} ?"</b></h4>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Удалить!</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">У вас есть аккаунт?<a href="{% url 'blog-home' %}">Вернуться</a></small>
        </div>
    </div>
{% endblock content %}